<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/logo.png" style="height: 45px; margin-top: -13px;"></a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
      
        <ul class="nav navbar-nav">
          <li><a href="#" scroll-to="about-us">About Us</a></li>
          <li><a href="#" scroll-to="our-latest">Our Latest</a></li>
          <li><a href="#" scroll-to="location">Location</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron imp--hero" style="height: {{splashHeight}};">
      <div class="container txt--center txt--white" style="margin-top: 150px;">
        <h1 class="h1--cursive h1--mega">Your Celebration Starts Here</h1>
      </div>
    </div>

    <div class="container" style="height: {{height}}" id="about-us">
      <!-- Example row of columns -->
      <div class="row" style="margin-top: 8%;">
        <div class="col-md-4 col-xs-12 text-center">
          <img src="images/balloons.png">
          <h1 class="h1--cursive">Balloons</h1>
          <p class="txt--justify">From fun centerpieces, bouquets, columns and topiaries to arches, and so much more, balloons are the perfect way to bring color to your party and really 'wow' your guests! The possibilities are endless with our variety of colors, sizes and expertise!</p><br>
          <!--<p style="vertical-align: bottom;"><a class="btn btn-default" href="#" role="button">See More &raquo;</a></p>-->
        </div>
        <div class="col-md-4 col-xs-12 text-center">
          <img src="images/cake.png">
          <h1 class="h1--cursive">Party Supplies</h1>
          <p class="txt--justify">Whether you're celebrating birthdays, baby showers, bachelorette parties and wedding showers, anniversaries, retirement, or any holiday, we have what you need to make your party special! Do you want to throw a themed party, just for the heck of it? We have many different themes to choose from (western, fiesta, luau, etc.)!</p>
          <!--<p style="vertical-align: bottom;"><a class="btn btn-default" href="#" role="button">See More &raquo;</a></p>-->
       </div>
        <div class="col-md-4 col-xs-12 text-center">
        <img src="images/partyHat.png">	
          <h1 class="h1--cursive">Costume Accessories</h1>
          <p class="txt--justify">Life is a party - dress like it! It doesnt have to be Halloween for you to dress up...celebrating Mardi Gras? What about St. Patrick's Day? We have what you need to get jazzed up appropriately! Masks, wigs, hats, feather boas, glasses, fun ties, bead necklaces, tutus, full costumes, and so much more!</p>
          <!--<p style="vertical-align: bottom;"><a class="btn btn-default" href="#" role="button">See More &raquo;</a></p>-->
        </div>
      </div>
    </div> <!-- /container -->
    <div class="theLatest">
	    <div class="container" id="our-latest">
	      <!-- Example row of columns -->
      	<div class="col-md-12 col-xs-12 text-center" style="margin-top: 8%;">
          <h1 class="h1--cursive">Our Latest</h1>
        </div>
        <div class="col-md-4 col-xs-12" style="margin-top: 5px; margin-bottom: 5px;" ng-repeat="gram in instas">
        	<div class="insta__card" ng-click="goToInsta(gram.link)">
        		<img src="{{gram.images.standard_resolution.url}}" class="insta__pic">
        		<p class="insta__tagline">{{gram.caption.text}}</p>
        	</div>
        </div>
        </div>
	    </div> <!-- /container -->
	</div>
	<div id="location" style=" width: 100%; padding-top: 50px; height: {{height}};">
		<div class="col-md-6 col-xs-12">
	        <iframe width="100%" height="{{mapHeight}}" frameborder="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=920+HWY+133++Carbondale,+Colorado+81623&amp;aq=&amp;sll=39.739318,-89.266507&amp;sspn=9.473973,21.643066&amp;t=v&amp;ie=UTF8&amp;hq=&amp;hnear=920+Colorado+133,+Carbondale,+Colorado+81623&amp;z=16&amp;ll=39.402746,-107.220466&amp;output=embed" marginwidth="0" marginheight="0" scrolling="no"></iframe>
	    </div>
	    <div class="col-md-6 col-xs-12">
	        <div style="float: left;">
	        	<img src="images/logo.png" style="margin-left: 25px; margin-top:30px;"><br>
		      	<div style="margin-top: 30px; margin-left: 25px;">
            <h1 style="font-family: 'Pacifico', cursive; font-size: 18px; color: #666;">Your family owned and operated local party
 supplier</h1>
		      	<p style="text-align:left;">920 HWY 133 (Sopris Shopping Center) Carbondale, Colorado 81623<br>
		        Phone: (970)510-5671<br>
		        Fax: (970)510-5672 <br>
            <a href="https://www.facebook.com/itsmypartyetc" target="_new" style="color: #666;">
              <i class="fa fa-facebook-official fa-2x"></i>
            </a>
            <a href="http://instagram.com/itsmyparty_carbondale/" target="_new" style="color: #666;">
              <i class="fa fa-instagram fa-2x"></i>
            </a>

		        <p>&copy; It's My Party etc. 2014</p>
		        <a href="mailto:info@itsmypartyetc.com">info@itsmypartyetc.com</a><br></p>
		        </div>
	        </div>
	    </div>
	</div>